@model SalesMenagement.Models.ViewModel.SellerFormViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h2>Novo vendedor</h2>

    <h4>Vendedores</h4>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Seller.Name" class="control-label"></label>
                    <input asp-for="Seller.Name" class="form-control" />
                    <span asp-validation-for="Seller.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Seller.Email" class="control-label"></label>
                    <input asp-for="Seller.Email" class="form-control" />
                    <span asp-validation-for="Seller.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Seller.BirthDate" class="control-label"></label>
                    <input asp-for="Seller.BirthDate" class="form-control" />
                    <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Seller.BaseSalary" class="control-label"></label>
                    <input asp-for="Seller.BaseSalary" class="form-control" />
                    <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Seller.DepartmentsId" class="control-label"></label>
                    <select asp-for="Seller.DepartmentsId" asp-items="@(new SelectList(Model.Departments, "Id", "NameDepartaments" ))" class="form-control"></select>
                    <span asp-validation-for="Seller.DepartmentsId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Seller.CEP" class="control-label"> </label>
                    <input asp-for="Seller.CEP"  class="form-control" id="validaCEP" />
                    <span asp-validation-for="Seller.CEP" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Seller.NumeroCasa" class="control-label"></label>
                    <input type="text" class="form-control" id="inputNumero" />
                    <span asp-validation-for="Seller.DepartmentsId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Seller.Cidade" class="control-label"></label>
                    <input type="text" class="form-control" id="inputCidade" readonly />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Seller.Endereco" class="control-label"></label>
                    <input type="text" class="form-control" id="inputEndereco" readonly />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Seller.Bairro" class="control-label"> </label>
                    <input type="text" class="form-control" id="inputBairro" readonly />
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Seller.Uf" class="control-label"></label>
                    <input type="text" class="form-control" id="inputUf" readonly />
                </div>
            </div>

            <div class="col-md-12">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-info"><i class="far fa-arrow-alt-circle-left"></i> Voltar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">


        $('#validaCEP').blur(function () {
            $('#inputBairro').val('');
            $('#inputEndereco').val('');
            $('#inputCidade').val('');
            $('#inputUf').val('');

            ObterEnderecoCompleto($(this).val())
        });


        function ObterEnderecoCompleto(cep) {
             $.ajax({
                url: '@Url.Action("ObterEnderecoCompleto", "Sellers")',
                method: 'GET',
                dataType: 'json',
                data: 'cep=' + cep,
                cache: false,
                 success: function (data) {
                     let cidade = data.return.cidade;
                     let bairro = data.return.complemento2;
                     let endereco = data.return.end;
                     let uf = data.return.uf;

                     $('#inputBairro').val(bairro);
                     $('#inputEndereco').val(endereco);
                     $('#inputCidade').val(cidade);
                     $('#inputUf').val(uf);
                 },
                error: function () {
                    alert('Erro ao fazer a requisição');
                }
            });
        }

    </script>



}


